/* Separate positioning and rotating transformations */
.svg-border {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the circle */
  animation: rotateBorder 10s linear infinite; /* Apply rotation separately */
}

@keyframes rotateBorder {
  from {
      transform: translate(-50%, -50%) rotate(0deg); /* Keep translate(-50%, -50%) to maintain centering */
  }
  to {
      transform: translate(-50%, -50%) rotate(360deg); /* Rotate the circle */
  }
}

.fade-enter {
  opacity: 0;
  transform: translateY(-20px);
}

.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms, transform 500ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}


/* Education Amimation */

/* Add to your existing CSS */
.scroll-animate {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s ease-out;
}

.scroll-animate.animate {
  opacity: 1;
  transform: translateY(0);
}

.scroll-animate-left {
  opacity: 0;
  transform: translateX(-50px);
  transition: all 0.5s ease-out;
}

.scroll-animate-left.animate {
  opacity: 1;
  transform: translateX(0);
}

.scroll-animate-right {
  opacity: 0;
  transform: translateX(50px);
  transition: all 0.5s ease-out;
}

.scroll-animate-right.animate {
  opacity: 1;
  transform: translateX(0);
}

.scroll-animate-fade {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.scroll-animate-fade.animate {
  opacity: 1;
}